<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="post">
<div class="materialContainer">
    <div class="box">
        <div class="title">登录</div>
        <div class="input">
            <label for="mail"> 邮 箱</label>
            <input type="text" name="name" id="mail">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="code">验证码</label>
            <input type="text" name="code"><button type="button" id="code" name="code" onclick="setCode()">获取验证码</button>
            <span class="spin"></span>
        </div>

        <div class="button login">
            <button  type="submit" name="mail">
                <span>登录</span>
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</div>
</form>
</body>
<script>
    //发送验证码
    function setCode() {
        var mail = $("input[name='mail']").val();
        $.ajax({
            url:"[[@{/sendCode}]]",
            type:"POST",
            data:{"mail":mail},
            success:function (data) {
                alert(data)
            },
            error:function () {
                alert("服务器错误")
            }
        })
    }
</script>
</html>