<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>发件箱</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th><!--垃圾邮件的图片 --> </th><th>主题</th><th>收件人</th><th>时间</th><th>内容</th>
    </tr>
    </thead>
    <tbody id="tab"></tbody>
</table>
</body>

<script>
    $(document).ready(function(){
        $.ajax({
            url:"[[@{/message/findSendMessage}]]",
            dataType:"json",
            type:"POST",
            success:function (data) {
                var str ="";
                $("#tab").html(str);
                if(data.length>0){
                    //使用jquery形式遍历
                    var img = "" //图标标签的string
                    $.each(data,function(n,val){
                        str+="<tr>"+
                            "<td>"+img+"</td>"+"<td>"+val.title+"</td>"+"<td>"+val.receiveMail+"</td>"+"<td>"+val.date+"</td>"+"<td><button onclick=''>查看内容</button></td>"+
                            "</tr>";

                    });
                }else{
                    $("#tab").append("<tr><td colspan=8 align=\"center\">暂时没有垃圾邮件</td></tr>");
                }
                $("#tab").append(str);
            },
            error:function () {
                alert("服务器错误")
            }
        })
    })
</script>
</html>