<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>收件箱</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/js/pintuer.js}"></script>

</head>
<body>
<div id="big">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Id </th>
                <th>主题</th>
                <th>发件人</th>
                <th>时间</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tab"></tbody>
    </table>
</div>

<div class="form-group" id="window" style="display: none">
    <div class="label">
        <label style="color: #0f0f0f"><button onclick="closewindows()">返回</button></label>
        <label style="color: #0f0f0f">内 容：</label>
    </div>
    <div class="field">
        <textarea class="input w50" id="message" name="message" rows="10" cols="53" placeholder="没内容"></textarea>
    </div>
</div>
</body>

<script>
    $(document).ready(function(){
      $.ajax({
          url:"[[@{/message/receiveMessage}]]",
          dataType:"json",
          type:"POST",
          success:function (data) {
              console.log(data)
                var str ="";
              $("#tab").html(str);
              if(data.length>0){
                  //使用jquery形式遍历
                  var a = 0; //邮件是否被拆开的图标标签的string
                  $.each(data,function(n,val){
                      a = a + 1;
                      str+="<tr>"+
                          "<td>"+a+"</td>"+"<td>"+val.title+"</td>"+"<td>"+val.sendMail+"</td>"+"<td>"+val.date+"</td>"+"<td><button onclick='findText("+val.text+")'>查看详情</button></td>"+"<td><div class=\"button-group\"><a class=\"button border-red\" role=\"button\" onclick='deleteMessage("+val.id+")'>删除</a></div>"+
                         "</tr>";
                  });
              }else{
                  $("#tab").append("<tr><td colspan=8 align=\"center\">暂时没有邮件</td></tr>");
              }
              $("#tab").append(str);
          },
          error:function () {
              alert("服务器错误")
          }
      })
    })

    //查看详情
    function findText(text) {
        //显示修改的模态框
        $("#window").show();
        $("#big").hide();
        //把选中行的数据复制给修改框里的表单元素
        $("#message").val(text);
    }


    //关闭模态框
    function closewindows() {
        $("#window").hide();
        $("#big").show();
    }

    //删除邮件
    function deleteMessage(id) {
        var isNo = confirm("确认删除？")
        if (isNo) {
            $.ajax({
                url:"[[@{/message/delReceiveById}]]",
                type: "post",
                dataType: "json",
                data: {"id": id},
                success: function (data) {
                    if (data != null) {
                        alert("删除成功！");
                        window.location.reload();
                    } else {
                        alert("删除失败！");
                    }
                },
                error: function () {
                    alert("删除成功！");
                    window.location.reload();
                }
            })
        }
    }
</script>
</html>