<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
主页

<!--只有管理员才能用到权限-->
<shiro:hasRole name="admin">
    <div>
       <a href="#">管理用户</a>
    </div>
</shiro:hasRole>

<div>

    <a href="admin/sendMessage">发邮件</a>
    <a href="admin/findSendMessage">已发送</a>
    <a href="admin/receiveMessage">收件箱</a>
    <a href="admin/dustbin">垃圾箱</a>
</div>
</body>
</html>